mat-toolbar {
  .toolbar-tier1,
  .toolbar-tier2 {
    position: fixed;
    left: 0;
    z-index: 9;
    right: 0;
  }
  &.toolbar-tier1 {
    top: 0;
    background: #333333;
    height: 2.1em;
    button.menu-button {
      color: #D5D5D5;
      transition: all 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }
  &.toolbar-tier2 {
    position: fixed;
    top: 2.1em;
    // background: transparent;
    button.menu-button {
      // color: #fff;
      font-size: 1.1rem;
      position: relative;
      &:hover:not(.burger)::after {
        // background: rgb(23, 204, 189);
        background: var(--primary-500);
        bottom: 0px;
        content: "";
        height: 0.2em;
        border-radius: 1em;
        position: absolute;
        width: 70%;
      }
    }
  }
}
.menu-nav-container {
  &--desktop {
    display: none;
  }
}
@media screen and (min-width: 1050px) {
  .menu-nav-container {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}
