<mat-toolbar class="toolbar-tier1">
  <div class="menu-nav-container--deskto">
    <button class="menu-button" mat-button [routerLink]="['/login']">LOGIN</button>
  </div>
</mat-toolbar>
<mat-toolbar class="toolbar-tier2">
  <div class="menu-nav-container--desktop">
    @for(item of menuItems(); track item) {
      @if(item.children) {
        <button class="menu-button" mat-button [matMenuTriggerFor]="child">{{item.name}}</button>
        <mat-menu #child="matMenu">
          @for(subItem of item.children; track subItem) {
            <button mat-menu-item [routerLink]="subItem.path">{{ subItem.name }}</button>
          }
        </mat-menu>
      } @else {
        <button class="menu-button" mat-button [routerLink]="[item.path]">{{item.name}}</button>
      }
    }
  </div>
  <div class="menu-nav-container--mobile">
    <button class="menu-button burger" mat-icon-button color="primary" aria-label="" (click)="sideNavService.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
