.yale-card {
  cursor: pointer;
  height: 100%;
  max-height: 25em;
  overflow: hidden;
  position: relative;
  &:hover {
    .yale-card__header {
      transform: translateY(0);
    }
  }
  &__header {
    // padding-bottom: 1.2em;
    height: 100%;
    background: var(--primary-500);
    color: white;
    transform: translateY(100%);
    transition: all .3s;
  }
  &__image {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }
  &__title {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__subtitle {
    font-size: .9rem;
    color: #fff;
    &.subtitle-p {

      margin: 0 !important;
    }
  }
}
