<div class="yale-layout">
  <mat-sidenav-container class="app-drawer-container" fullscreen>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" fullscreen>
      <div class="list-wrapper">
        <mat-nav-list>
          @for (nav of navList(); track nav) {
          <a mat-list-item [routerLink]="[nav.path]">{{nav.name}}</a>
          <mat-divider></mat-divider>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="yale-layout__sidenav-content">
      <div class="yale-layout__container">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
