<div class="yale-home">
  <div class="yale-home__side-nav-container">
    <yale-side-menu class="yale-home__side-nav" [navItems]="navItems()">asdasd</yale-side-menu>
  </div>
  <div class="yale-home__container">

    <section class="yale-home__section" id="introduction">
      <h2>Introduction</h2>
      <p>
        The Yale School of Art is a graduate school that confers MFAs in Graphic Design, Painting/Printmaking, Photography, and Sculpture; and offers undergraduate-level art courses to Yale College students. Our website exists as an ongoing collaborative experiment in digital publishing and information sharing. It functions as a wiki—all members of the School of Art community have the ability to add new, and edit most existing content.
      </p>
    </section>
    <section class="yale-home__section" id="soa">
      <h2>Happening at SOA</h2>
      <p>
        The Yale School of Art is a graduate school that confers MFAs in Graphic Design, Painting/Printmaking, Photography, and Sculpture; and offers undergraduate-level art courses to Yale College students. Our website exists as an ongoing collaborative experiment in digital publishing and information sharing. It functions as a wiki—all members of the School of Art community have the ability to add new, and edit most existing content.
      </p>
    </section>
    <section class="yale-home__section" id="calendar">
      <h2>Calendar</h2>
      <p>
        The Yale School of Art is a graduate school that confers MFAs in Graphic Design, Painting/Printmaking, Photography, and Sculpture; and offers undergraduate-level art courses to Yale College students. Our website exists as an ongoing collaborative experiment in digital publishing and information sharing. It functions as a wiki—all members of the School of Art community have the ability to add new, and edit most existing content.
      </p>
    </section>
    <section class="yale-home__section" id="contact">
      <h2>Contact</h2>
      <p>
        The Yale School of Art is a graduate school that confers MFAs in Graphic Design, Painting/Printmaking, Photography, and Sculpture; and offers undergraduate-level art courses to Yale College students. Our website exists as an ongoing collaborative experiment in digital publishing and information sharing. It functions as a wiki—all members of the School of Art community have the ability to add new, and edit most existing content.
      </p>
    </section>
    <section class="yale-home__section" id="disclaimer">
      <h2>Disclaimer</h2>
      <p>
        This website exists as an ongoing collaborative experiment in digital publishing and information sharing. Because this website functions as a wiki, all members of the School of Art community—graduate students, faculty, staff, and alums—have the ability to add new content and pages, and to edit most of the site’s existing content.
      </p>
      <p>
        Content is the property of its various authors. When you contribute to this site, you agree to abide by Yale University academic and network use policy, and to act as a responsible member of our community.
      </p>
    </section>
  </div>
</div>

