<footer class="yale-footer">
  <div class="yale-footer__tier1">
    <div class="yale-footer__address">
      <p>Yale School of Art</p>
      <p>1156 Chapel Street, POB 208339</p>
      <p>New Haven, Connecticut, 06520-8339</p>
    </div>
    <div class="yale-footer__links">
      <ul class="social-media">
        <li>
          <a target="_blank" href="https://www.instagram.com/yaleschoolofart/">Instagram</a>
        </li>
        <li>
          <a target="_blank" href="https://www.facebook.com/YaleSchoolofArt/">Facebook</a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/channel/UCDwJT0mYodTSodcpH-hGmdA">Youtube</a>
        </li>
        <li>
          <a target="_blank" href=".">Support the School</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="yale-footer__tier2">
    <p>
      *This website exists as an ongoing collaborative experiment in digital publishing and information sharing. Because this website functions as a wiki, all members of the School of Art community—graduate students, faculty, staff, and alums—have the ability to add new content and pages, and to edit most of the site’s existing content.
      Content is the property of its various authors. When you contribute to this site, you agree to abide by Yale University academic and network use policy, and to act as a responsible member of our community.
    </p>

  </div>
</footer>
