.yale-side-menu {
  // background-color: var(--secondary-500);
  &__list {

  }
  &__item {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    &:hover {
      border-bottom: .5em solid;
      color: var(--primary-500);
    }
  }
}
